<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>All cassettes</title>
</head>
<body>
<form action="/getAllCassettes" method="post">
    <div class="container">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie name</th>
                <th scope="col">Release date</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cassette : ${cassettes}">
                <td th:text="${cassette.id}"></td>
                <td th:text="${cassette.author}"></td>
                <td th:text="${cassette.title}"></td>
                <td th:text="${cassette.releaseDate}"></td>
                <td><input class="form-checked-input" type="radio" name="id" checked th:value="${cassette.id}"></td>

            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" name="action" value="ADD">Add</button>
        <button type="submit" class="btn btn-secondary" name="action" value="EDIT">Edit</button>
        <button type="submit" class="btn btn-danger" name="action" value="DELETE">Delete</button>
        <button type="submit" class="btn btn-success" name="action" value="NEW_USER">Create User</button>
    </div>
</form>
</body>
</html>